@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
* {
  font-family: "Poppins", sans-serif;
}

.titelCon {
  color: #ffffff;
  display: flex;
  justify-content: center;
}

#titel{
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  padding-top: 30px;
  margin-left: -30px;
  animation: animate 10s linear infinite;
  background-image: linear-gradient(135deg, rgb(255, 255, 255) 0%, #1E07A0 25%, white 50%, #5626CA(255, 0, 0) 75%, rgb(255, 255, 255) 100%);
  background-size: 200%;
  -webkit-text-fill-color: transparent;
  
}
@keyframes animate{
  100%{
    background-position: 200%;
  }
}

html {
  margin: 0;
  height: 100vh;
  background-image: linear-gradient(to bottom left, rgb(68, 68, 68), #5626CA);
  background-repeat: no-repeat;
  
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}


.text-left{
  color: black
}

.text-head{
  color: #FE4E02;
}

.signupSection {
  background-color: rgb(255, 255, 255);
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 450px;
  text-align: center;
  display: flex;
  box-shadow: 3px 10px 20px 5px rgba(255, 255, 255, 0.5);
}

.right-section{
  background-color: #ffffff;
}

.info {
  width: 45%;
  background: rgba(255, 255, 255, 0.8);
  padding: 30px 0;
  border-right: 5px solid #5726cac4;

    /* h2{
    padding-top: 30px;
    font-weight: 300;
    } */
  /* p {
    font-size: 18px;
  } */
  /* .icon {
    font-size: 8em;
    padding: 20px 0;
    color: rgba(10, 180, 180, 1);
  } */
}

.signupForm {
  width: 70%;
  padding: 30px 0;
  background: #ffffff;
  transition: .2s;
  height: 86.7%;
  /* h2 {
    font-weight: 300;
  } */
}

.inputFields {
  margin: 15px 0;
  font-size: 16px;
  padding: 10px;
  width: 250px;
  border: 1px solid #5626CA;
  border-top: none;
  border-left: none;
  border-right: none;
  background: rgba(20, 20, 20, 0);
  color: white;
  outline: none;
}

.noBullet {
  list-style-type: none;
  padding: 0;
}

#join-btn {
  border: 1px solid ;
  background:#FE4E02;
  font-size: 18px;
  color: white;
  margin-top: 20px;
  padding: 10px 50px;
  cursor: pointer;
  transition: .4s;
  /* &:hover {
    background: rgba(20, 20, 20, .8);
    padding: 10px 80px;
  } */
}

.kop1{
  color: #FE4E02;
}



.tekst{
  margin-top: 80px;
  text-align: center;
  color: white;
  font-size: x-large;
}

@media screen and (max-width: 1555px){
  #titel{
    display: none;
  }
}