<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer Transformers Community</title>
    <link rel="stylesheet" href="/css/footer.css" media="all">
    
</head>
<body>
    <footer>
        <div class="footerLinks">
            <div class="footerLogo">
                <img src="Transformers.webp" alt="">
            </div>
            <h2>Wij empoweren jongeren<br>om mentaal gezond te zijn</h2>
            <p>Stichting Transformers Community is geregisteerd bij<br> de Kamer van Koophandel onder<br> RSIN nummer 861477194</p>
        </div>
        <div class="footerRechts">